/*****************/
/*    General    */
/*****************/
.elephant{
    font-size: 25px;
}
.col-md-12 img{
    height: 230px;
    width: 230px;
}
section{
    margin-top: 30px;
}
#navigation{
    display: none;
}
.taille-image-accueil{
    height: 230px;
    width: 230px;
}
/* footer */
.sociaux{
    margin: 30px 15px 30px 15px;
}
/*****************/
/*    Accueil    */
/*****************/
.logoLaFabricDesSublimes{
    width: 300px;
    height: 308px;
}
.accueil{
    margin-top: 30px;
    font-size: 25px;
}
.text-accueil{
    font-size: 15px;
}

.pointEnBas{
    width: 300px;
    height: 12px;
}
/*****************/
/* PAGE FABRIC section sublimer emotion */
/*****************/
.alignleft {
    float: left;
}
.imageMainTitre{
    display: none;
}
.titreSublimer{
    position: static;
    top: 80px;
}
/*****************/
/* PAGE FABRIC section parcour */
/*****************/

.alignRight{
    float: right;
}
.titreParcour{
    position: static;
    left: 50px;
    top: 120px;
}
.imageHirondelle{
   display: none;
}
/*****************/
/* PAGE FABRIC section laFabricWhy */
/*****************/
.titreWhyFabric{
    position: static;
}
.imgLogo{
    width: 365px;
    height: 365px;
}
.img3Stars{
    display: none;
}

/*****************/
/* PAGE FABRIC section logo */
/*****************/
.img2Stars{
    display: none;
}
.img1Stars{
    display: none;
}
.titreLogo{
    position: static;
}
.imageLogoSignification > .imgLogoSignification{
    width: 300px;
    height: 300px;
}
/*****************/
/* PAGE FABRIC section gestePlanete */
/*****************/
.imgFleur{
    display: none;
}
/*****************/
/* PAGE FABRIC section artisanat */
/*****************/
.imgMainMotif{
    display: none;
}
/* Page Creation */
.imgCerisier{
    display: none;
}
.imgFeuille{
    display: none;
}
.imgHirondelle2{
    display: none;
}
.imgOiseau{
    display: none;
}
.imgMainMotif2{
    display: none;
}
.imgFleur2{
    display: none;
}
a img, .imgAvenir {
    width: 150px;
    height: 150px;
}
/* Page Commandez */
.imgMainGauche{
    display: none;
}
.imgMainDroite{
    display: none;
}
.imageLogoCommandez{
    width: 300px;
    height: 300px;
}
.imgMainMotifGauche{
    display: none;
}
.imgEtoileDroite{
   display: none;
}
.theme, .technique, .support, .dimmension, .occasion{
    font-weight: bold;
    font-style: italic;
}
.theme{
    color: #f28a3d;
}
.technique{
    color: #e83f58;
}
.support{
    color: #e83f58;
}
.dimmension{
    color: #922159;
}
.occasion{
    color: #2c2851;
}