/*    General    */
.elephant{
    font-size: 25px;
}
.segeoUI{
    font-size: 18px;
}
section{
    margin-top: 30px;
}

/* footer */
.sociaux{
    margin: 30px 15px 30px 15px;
}


/*****************/
/*    Accueil    */
/*****************/
.logoLaFabricDesSublimes{
    width: 436px;
    height: 442px;
    margin-bottom: 50px;
}
.accueil{
    margin-top: 30px;
    font-size: 35px;
}
.text-accueil{
    font-size: 22px;
}
.taille-image-accueil{
    width: 300px;
    height: 300px;
}

/*****************/
/* PAGE FABRIC section sublimer emotion */
/*****************/
.alignleft {
    float: left;
}
.imageMainTitre{
    position: relative;
    left: 240px;
    width: 120px;
    height: 120px
}
.titreSublimer{
    position: relative;
    top: 110px;
}
.imgSublime{
    width: 300px;
    height: 300px;
}

/*****************/
/* PAGE FABRIC section parcour */
/*****************/

.alignRight{
    float: right;
}
.titreParcour{
    display: inline;
    position: relative;
    top: 30px;
    left: 300px;

}
.imageHirondelle{
    position: relative;
    top: -30px;
    right: 40px;
    width: 150px;
    height: 150px
}
/*****************/
/* PAGE FABRIC section laFabricWhy */
/*****************/
.img3Stars{
    position: relative;
    width: 122px;
    height: 106px;
    left: 440px;
}
.titreWhyFabric{
    top: 110px;
    position: relative;
    z-index: 1;
}
/*****************/
/* PAGE FABRIC section logo */
/*****************/

.img2Stars{
    position: relative;
    top: 90px;
    left: 130px;
    width: 96px;
    height: 136px;
}
.img1Stars{
    position: relative;
    float: right;
    right: 160px;
    top: -180px;
    width: 60px;
    height: 66px;
}
.titreLogo{
    position: relative;
    margin-bottom: 100px;
    z-index: 1;
}
.imgLogoSignification{
    width: 800px; height: 600px
}
/*****************/
/* PAGE FABRIC section gestePlanete */
/*****************/
.imgFleur{
    position: relative;
    top: 50px;
    left: 240px;
    width: 130px;
    height: 130px;
    z-index: -1;
}
/*****************/
/* PAGE FABRIC section artisanat */
/*****************/
.imgMainMotif{
    position: relative;
    top: 60px;
    left: 310px;
    width: 126px;
    height: 166px;
}
/* Page Creation */
a img{
    width: 250px;
    height: 250px;
}
.imgCerisier{
    top: 50px;
    left: 130px;
    z-index: -1;
}
.imgFeuille{
    top: 80px;
    left: 130px;
    z-index: -1;
}
.imgHirondelle2{
    width: 205px;
    height: 235px;
    z-index: -1;
    top: 65px;
    left: 300px;
}
.imgOiseau{
    top: 55px;
    left: 170px;
    width: 112px;
    height: 207px;
    z-index: -1;
}
.imgMainMotif2{
    z-index: -1;
    top: 80px;
    left: 100px;
}
.imgFleur2{
    width: 150px;
    height: 150px;
    z-index: -1;
    left: 240px;
    top: 40px;
}
/* Page Commandez */

.titreCommandez{
    position: relative;
    top: -80px;
    z-index: 1;
}
.imgMainGauche{
    width: 129px;
    height: 188px;
    left: 200px;
}
.imgMainDroite{
    width: 129px;
    height: 188px;
    float: right;
    right: 200px;
}
.titreChoix{
     position: relative;
     top: -70px;
     z-index: 1;
 }
.imgMainMotifGauche{
    left: 250px;
}
.imgEtoileDroite{
    width: 127px;
    height: 120px;
    float: right;
    top: -180px;
    right: 230px;
}
.theme, .technique, .support, .dimmension, .occasion{
    font-weight: bold;
    font-style: italic;
}
.theme{
    color: #f28a3d;
}
.technique{
    color: #e83f58;
}
.support{
    color: #e83f58;
}
.dimmension{
    color: #922159;
}
.occasion{
    color: #2c2851;
}