/*****************/
/*    General    */
/*****************/
/* Police */
@font-face {
    font-family: "segeo";
    src: url("../font/segoe-ui-4-cufonfonts/SegoeUI.ttf");
}
.segeoUI{
    font-family: "segeo",sans-serif,cursive;
    font-size: 20px;
}
@font-face{
    font-family: "Elephant";
    src: url("../font/13174_ELEPHNT.ttf");
}
.elephant{
    font-size: 30px;
    font-family: "Elephant", serif;
}

.imgSublime{
    width: 300px;
    height: 300px;
}
section{
    margin-top: 30px;
}

/* footer */
.sociaux{
    margin: 30px 15px 30px 15px;
}

/*****************/
/*    Accueil    */
/*****************/
.logoLaFabricDesSublimes{
    width: 476px;
    height: 482px;
}
.accueil{
    margin-top: 30px;
    font-size: 25px;
}
.text-accueil{
    font-size: 15px;
}
.taille-image-accueil{
    width: 230px;
    height: 230px;
}

/*****************/
/* PAGE FABRIC section sublimer emotion */
/*****************/
.alignleft {
    float: left;
}
.imageMainTitre{
    position: relative;
    left: 200px;
    width: 120px;
    height: 120px
}
.titreSublimer{
    position: relative;
    top: 110px;
}


/*****************/
/* PAGE FABRIC section parcour */
/*****************/

.alignRight{
    float: right;
}
.titreParcour{
    display: inline;
    position: relative;
    left: 50px;
    top: 120px;
}
.imageHirondelle{
    position: relative;
    top: -30px;
    width: 150px;
    height: 150px
}
/*****************/
/* PAGE FABRIC section laFabricWhy */
/*****************/
.img3Stars{
    position: relative;
    width: 152px;
    height: 136px;
    left: 240px;
}
.titreWhyFabric{
    font-size: 20px;
    top: 110px;
    position: relative;
    z-index: 1;
}
/*****************/
/* PAGE FABRIC section logo */
/*****************/
.br{
    display: compact;
}
.img2Stars{
    position: relative;
    top: 90px;
    right: 15px;
    width: 116px;
    height: 156px;
}
.img1Stars{
    position: relative;
    float: right;
    right: 20px;
    top: -110px;
    width: 80px;
    height: 86px;
}
.titreLogo{
    position: relative;
    z-index: 1;
}
.imgLogoSignification{
    width: 700px; height: 500px
}
/*****************/
/* PAGE FABRIC section gestePlanete */
/*****************/
.imgFleur{
    position: relative;
    top: 50px;
    left: 40px;
    z-index: -1;
}
/*****************/
/* PAGE FABRIC section artisanat */
/*****************/
.imgMainMotif{
    position: relative;
    top: 60px;
    left: 120px;
    width: 126px;
    height: 166px;
}
/* Page Creation */
a img, .imgAvenir{
    width: 200px;
    height: 200px;
}
.imgCerisier{
    display: none;
}
.imgFeuille{
    display: none;
}
.imgHirondelle2{
    display: none;
}
.imgOiseau{
    display: none;
}
.imgMainMotif2{
    display: none;
}
.imgFleur2{
    display: none;
}
/* Page Commandez */

.titreCommandez{
    position: relative;
    top: -80px;
    z-index: 1;
}
.imgMainGauche{
    width: 129px;
    height: 188px;
}
.imgMainDroite{
    width: 129px;
    height: 188px;
    float: right;
    display: inline;
}
.titreChoix{
    position: relative;
    top: -70px;
    z-index: 1;
}
.imgMainMotifGauche{
    left: 80px;
}
.imgEtoileDroite{
    width: 157px;
    height: 130px;
    float: right;
    top: -180px;
    right: 30px;
}
.theme, .technique, .support, .dimmension, .occasion{
    font-weight: bold;
    font-style: italic;
}
.theme{
    color: #f28a3d;
}
.technique{
    color: #e83f58;
}
.support{
    color: #e83f58;
}
.dimmension{
    color: #922159;
}
.occasion{
    color: #2c2851;
}