
/*    General    */
.elephant{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.taille-image-accueil{
    width: 300px;
    height: 300px;
}
.imgSublime{
    width: 300px;
    height: 300px;
}
section{
    margin-top: 30px;
}
.taille-image-accueil{

}

/* footer */
.sociaux{
    margin: 30px 15px 30px 15px;
}


/*****************/
/*    Accueil    */
/*****************/
.logoLaFabricDesSublimes{
    width: 476px;
    height: 482px;
}
.accueil{
    margin-top: 30px;
    font-size: 25px;
}
.text-accueil{
    font-size: 15px;
}
.col-lg-4 img{
    height: 230px;
    width: 230px;
}

/*****************/
/* PAGE FABRIC section sublimer emotion */
/*****************/
.alignleft {
    float: left;
}
.imageMainTitre{
    position: relative;
    left: 250px;
    width: 120px;
    height: 120px
}
.titreSublimer{
    position: relative;
    top: 110px;
}


/*****************/
/* PAGE FABRIC section parcour */
/*****************/

.alignRight{
    float: right;
}
.titreParcour{
    display: inline;
    position: relative;
    top: 30px;
    left: 300px;

}
.imageHirondelle{
    position: relative;
    top: -30px;
    width: 150px;
    height: 150px
}
/*****************/
/* PAGE FABRIC section laFabricWhy */
/*****************/
.img3Stars{
    position: relative;
    width: 152px;
    height: 136px;
    left: 340px;
}
.titreWhyFabric{
    top: 110px;
    position: relative;
    z-index: 1;
}
/*****************/
/* PAGE FABRIC section logo */
/*****************/

.img2Stars{
    position: relative;
    top: 90px;
    left: 100px;
    width: 116px;
    height: 156px;
}
.img1Stars{
    position: relative;
    float: right;
    right: 130px;
    top: -180px;
    width: 80px;
    height: 86px;
}
.titreLogo{
    position: relative;
    margin-bottom: 100px;
    z-index: 1;
}
.imgLogoSignification{
    width: 900px; height: 700px
}
/*****************/
/* PAGE FABRIC section gestePlanete */
/*****************/
.imgFleur{
    position: relative;
    top: 50px;
    left: 280px;
    z-index: -1;
}
/*****************/
/* PAGE FABRIC section artisanat */
/*****************/
.imgMainMotif{
    position: relative;
    top: 60px;
    left: 335px;
    width: 126px;
    height: 166px;
}
/* Page Creation */
a img, .imgAvenir{
    width: 250px;
    height: 250px;
}
.imgCerisier{
    top: 50px;
    left: 180px;
    z-index: -1;
}
.imgFeuille{
    top: 80px;
    left: 180px;
    z-index: -1;
}
.imgHirondelle2{
    width: 205px;
    height: 235px;
    z-index: -1;
    top: 65px;
    left: 300px;
}
.imgOiseau{
    top: 65px;
    left: 220px;
    width: 112px;
    height: 207px;
    z-index: -1;
}
.imgMainMotif2{
    z-index: -1;
    top: 80px;
    left: 160px;
}
.imgFleur2{
    z-index: -1;
    left: 220px;
    top: 50px;
}
/* Page Commandez */

.titreCommandez{
    position: relative;
    top: -80px;
    z-index: 1;
}
.imgMainGauche{
    width: 129px;
    height: 188px;
    left: 150px;
}
.imgMainDroite{
    width: 129px;
    height: 188px;
    float: right;
    right: 150px;
}

.titreChoix{
    position: relative;
    top: -70px;
    z-index: 1;
}
.imgMainMotifGauche{
    left: 180px;
}
.imgEtoileDroite{
    width: 157px;
    height: 130px;
    float: right;
    top: -180px;
    right: 130px;
}
.theme, .technique, .support, .dimmension, .occasion{
    font-weight: bold;
    font-style: italic;
}
.theme{
    color: #f28a3d;
}
.technique{
    color: #e83f58;
}
.support{
    color: #e83f58;
}
.dimmension{
    color: #922159;
}
.occasion{
    color: #2c2851;
}